<meta charset="utf-8">

<script src="../node_modules/nwjs-kremlin/reload.js"></script>

<%= jquery />
<%= vue/dist/vue.js />
<script>var _process = process, _Response = Response; process = Response = undefined;</script>
<script src="../node_modules/pdfjs-dist/build/pdf.js"></script>

<link rel="stylesheet" type="text/css" href="viewer.css">

<script src="./viewer.ls.js"></script>
<script src="./overlay.ls.js"></script>
<script src="./interactive.ls.js"></script>
<script src="./server.ls.js"></script>
<script src="./menu.ls.js"></script>
<script src="./hotkeys.ls.js"></script>


<body class="viewer">
</body>
