body {
  overflow: hidden;
  height: calc(100vh - 16px);
  text-align: left;
  /*position: relative;*/
}

body canvas {
  outline: 1px solid black;
}

body.viewer {
  text-align: center;
}

body.fullscreen {
  margin: 0;
  height: 100vh;
}

body.fullscreen canvas {
  outline: none;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay .annotation {
  position: absolute;
  user-select: none;
  cursor: pointer;
}
.overlay .annotation .centered {
  margin-left: -50%;
  margin-top: -50%;
  display: block;
}

.overlay .annotation .circle {
  border-radius: 99px;
  border: 2px solid red;
  height: 20px;
  width: 20px;
}

.overlay .annotation .star {
  background: url(../img/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.overlay .annotation .finger-left {
  background: url(../img/finger-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  /* align so that finger tip is at top-left */
  margin-left: 0;
  margin-top: -16px;  /* -40% would also work */
  display: block;
}

.overlay .annotation .finger-right {
  background: url(../img/finger-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  /* align so that finger tip is at top-left */
  margin-left: -40px;
  margin-top: -16px;  /* -40% would *not* work here */
  display: block;
}

.overlay .announcement {
  position: absolute;
  width: auto;
  text-align: center;
}

.overlay .announcement .caption {
  position: relative;
  left: -50%;
  background: white;
  white-space: nowrap;
  font-family: "Super Mario Bros. 3";
  font-size: 48pt;
}

div.toolbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
}

img.touched {
  outline: 1px solid blue;
}

div.toolbar.large {
  font-size: 200%;
}

div.toolbar button {
  font-size: 1em;
}

img#tool {
  width: 24pt;
}

div.toolbar.large img#tool {
  width: 36pt;
}

img#tool.laser {
  content: url(../img/finger-left.png);
}

img#tool.marker {
  content: url(../img/star.png);
}
